# **Assignment**
# **Data Structure**

# **1. Discuss string slicing and provide examples**

Ans - String slicing is a powerful feature in Python that allows you to extract parts (or "slices") of a string based on specified indices.
Examples are below

In [17]:
#Examples

name = "Naam_hai_Siddhu!"
print(name[0:5])

Naam_

In [18]:
name = "Naam_hai_Siddhu!"
print(name[:5]) #it will print from starting i.e from 0 to the 4th
print(name[7:]) #it will print from 7th and above till the end
print(name[:])  #it will print all the text

Naam_
i_Siddhu!
Naam_hai_Siddhu!

In [19]:
#Using Negative Indices:

name = "Naam_hai_Siddhu!"
print(name[-6:])  # it will print the last 6 characters
print(name[:-2])  # it will print all the characters except last 2

iddhu!
Naam_hai_Siddh

In [21]:
name = "Naam_hai_Siddhu!"
print(name[::2])
print(name[::-1])

Na_a_idu
!uhddiS_iah_maaN

# **2. Explain the key features of lists in Python**

Ans - Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!). Lists are mutable and are one of the most commonly used data structures in Python, offering a flexible and versatile way to store and manipulate a collection of items. Lists can contain heterogeneous data (Mix Data)

In [24]:
#Examples

tennis_score = [10, 20, 30]
tennis_score[0]

10

In [27]:
tennis_score = [1, 2, 3]
tennis_score[1] = 6  # it will Modify the second element
print(tennis_score)

[1, 6, 3]

In [33]:
#using append method

tennis_score = [1, 2]
tennis_score.append(56)  # it will Add an element to the last
print(tennis_score)

[1, 2, 56]

In [38]:
#Heterogeneous

tennis_score = [1, "tennis", 3.14, [10, 20]]
print(tennis_score)

[1, 'tennis', 3.14, [10, 20]]

In [40]:
#Indexing and Slicing

tennis_score = [10, 20, 30, 40]
print(tennis_score[1])
print(tennis_score[-1])
print(tennis_score[1:3]) #slicing

20
40
[20, 30]

In [42]:
#Iteration

tennis_score = [1, 2, 3]
for i in tennis_score:
    print(i)

1
2
3

In [44]:
tennis_score = ["love_all", "deuce", "match_point"]
for i in tennis_score:
    print(i)

love_all
deuce
match_point

In [52]:
#Nested Lists

nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list[1]) #it will print 1st element
print(nested_list[0][1]) #it will print 1st element from the 0th element

[3, 4]
2

In [65]:
#Adding Elements

tennis_score = [1, 2,4,5,6,7]
tennis_score.append(3) #append function (it will add element to the last)
print(tennis_score)
tennis_score.insert(4,23)
print(tennis_score)

[1, 2, 4, 5, 6, 7, 3]
[1, 2, 4, 5, 23, 6, 7, 3]

In [78]:
#Removing Elements

tennis_score = [1, 2, 3]
tennis_score.remove(2)   # Removes the first occurrence of 2
tennis_score

[1, 3]

In [79]:
popped = tennis_score.pop()  # Removes and returns the last element
print(tennis_score)
print(popped)

[1]
3

In [81]:
#Sorting

tennis_score = [3, 1, 2, 14, 78, 67]
tennis_score.sort()      # Sorts the list in ascending order
print(tennis_score)

[1, 2, 3, 14, 67, 78]

In [84]:
#List Comprehensions

squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

## **3. Describe how to access, modify, and delete elements in a list with examples**

Ans - Python lists allow easy access, modification, and deletion of elements using indexing, slicing, and built-in methods, I have already defined many examples in the above questions.

In [87]:
#Examples
tennis_score = [10, 20, 30, 40, 50]

# Accessing elements using positive indices
print(tennis_score[0])
print(tennis_score[2])

# Accessing elements using negative indices
print(tennis_score[-1])
print(tennis_score[-3])

# Accessing a range of elements using slicing
print(tennis_score[1:4])

# Accessing every second element
print(tennis_score[::2])

10
30
50
30
[20, 30, 40]
[10, 30, 50]

In [89]:
# Modifying Elements in a List
# Lists are mutable, so you can change their content by assigning new values to specific elements or ranges.

# Examples
tennis_score = [10, 20, 30, 40, 50]

# Modifying a single element
tennis_score[1] = 25
print(tennis_score)

# Modifying multiple elements using slicing
tennis_score[2:4] = [35, 45]
print(tennis_score)

# Replacing a range with a different number of elements
tennis_score[1:3] = [15, 55, 65]
print(tennis_score)

[10, 25, 30, 40, 50]
[10, 25, 35, 45, 50]
[10, 15, 55, 65, 45, 50]

In [90]:
# Deleting Elements in a List
# using del function
# Examples
tennis_score = [10, 20, 30, 40, 50]

# Deleting a single element
del tennis_score[2]
print(tennis_score)

# Deleting a range of elements
del tennis_score[1:3]
print(tennis_score)

[10, 20, 40, 50]
[10, 50]

In [97]:
#using .remove

# Examples
tennis_score = [10, 20, 30, 40, 50]

# Remove the first occurrence of a value
tennis_score.remove(40)
print(tennis_score) # If the value does not exist, it raises a `ValueError`

[10, 20, 30, 50]

In [99]:
# Example List
tennis_score = [10, 20, 30, 40, 50]

# Remove and return an element by index
removed_element = tennis_score.pop(1)
print(removed_element)
print(tennis_score)

# Pop the last element (default behavior)
last_element = tennis_score.pop()
print(last_element)
print(tennis_score)

20
[10, 30, 40, 50]
50
[10, 30, 40]

In [102]:
# Example List
tennis_score = [10, 20, 30, 40, 50]

# Remove all elements
tennis_score.clear()
tennis_score

[]

# **4. Compare and contrast tuples and lists with examples**

Ans - Key Differences

**Mutability**:

**Lists**: Can be modified after creation by adding, removing, or updating elements.

**Tuples**: Cannot be modified once created. If you need to make changes, you must create a new tuple.

In [108]:
# examples

my_list = [1, 2, 3]
my_list[0] = 10  # Modify the first element
print(my_list)   # Output: [10, 2, 3]

# Tuple example
my_tuple = (1, 2, 3)
my_tuple[0] = 78
# my_tuple[0] = 78  # This will raise a TypeError (tuples are immutable)

[10, 2, 3]

TypeError: 'tuple' object does not support item assignment

**Syntax:** - Lists are created with square brackets [], while tuples are created with parentheses ().

In [110]:
#example
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

**Methods:** - Lists have a wide range of methods (e.g., .append(), .remove(), .sort()).

Tuples have only two methods: .count() and .index().

In [113]:
# List methods
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

# Tuple methods
my_tuple = (1, 2, 3, 2)
print(my_tuple.count(2))
print(my_tuple.index(2))

[1, 2, 3, 4]
2
1

**Both Support Iteration:**
You can iterate over both lists and tuples using loops.

In [116]:
for i in [1, 2, 3]: #list
    print(i)

for i in (4, 5, 6): #tuple
    print(i)

1
2
3
4
5
6

**Can Contain Mixed or hererogenius Data Types:** - Both can store elements of different types, including other lists or tuples.

In [117]:
my_list = [1, "hello", 3.5, [4, 5]]
my_tuple = (1, "hello", 3.5, (4, 5))

# **5. Describe the key features of sets and provide examples of their use**

Ans - Unordered collections of unique elements. The order doesn't matter, and duplicate entries are not allowed. Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets. Sets are particularly useful for operations involving membership testing, duplicates removal, and mathematical operations like union, intersection, and difference.

In [119]:
# Examples

# Creating a set
my_set = {1, 2, 3, 4}
print(my_set)

# Creating an empty set
empty_set = set()
print(empty_set)

{1, 2, 3, 4}
set()

In [120]:
# Removing duplicates from a list
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

In [125]:
#Adding and Removing Elements
# Examples
my_set = {10, 20, 30}

# Adding elements
my_set.add(40)
print(my_set)

# Removing elements
my_set.remove(20)
print(my_set)

# Discard (does not raise an error if element is not present)
my_set.discard(30)
my_set

{40, 10, 20, 30}
{40, 10, 30}

{10, 40}

In [127]:
# Set Operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

**Intersection: Finds common elements in both sets.**

In [131]:
set1 = {1, 2, 3} #Intersection
set2 = {3, 4, 5}
print(set1 & set2)

{3}

In [133]:
set1 = {1, 2, 3} #Difference
set2 = {3, 4, 5}
print(set1 - set2)

{1, 2}

In [134]:
set1 = {1, 2, 3} #Symmetric Difference:
set2 = {3, 4, 5}
print(set1 ^ set2)

{1, 2, 4, 5}

In [140]:
# Iterating Through a Set

my_set = {10, 20, 30, 40}
for element in my_set:
    print(element)

40
10
20
30

# **6. Discuss the use cases of tuples and sets in Python programming**

Ans - Tuples and sets are both important data structures in Python, but they serve different purposes based on their properties.

**Use Cases of Tuples**

Tuples are immutable and ordered collections, which makes them ideal for scenarios where data should remain constant and its order is significant.

In [141]:
# Fixed or Immutable Data
#Tuples are used when the data should not change after creation.

# Example: Storing coordinates
coordinates = (10.5, 20.3)

In [143]:
# Dictionary Keys
# Tuples are hashable (unlike lists) and can be used as keys in dictionaries.

# Example: Using tuples as dictionary keys
data = {("John", "Doe"): "Developer", ("Jane", "Smith"): "Designer"}
print(data[("John", "Doe")])

Developer

In [146]:
#Returning Multiple Values from Functions
#Tuples allow a function to return multiple values in a single return statement.

def calculate(a, b):
    return a + b, a * b

result = calculate(3, 4)
print(result)

(7, 12)

In [149]:
# Grouping Data
#Tuples are ideal for grouping related pieces of data, such as rows in a database or objects in a program.

# Example: Representing a database record
student = ("Alice", 22, "Computer Science")
print(student[1])

22

In [152]:
# Removing Duplicates
# Sets automatically discard duplicate values, making them useful for cleaning data.

items = [1, 2, 2, 3, 4, 4]
unique_items = set(items)
print(unique_items)

{1, 2, 3, 4}

In [154]:
# Mathematical Set Operations
# Sets are commonly used for operations like union, intersection, and difference.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)  # Union
print(set1 & set2)  # Intersection
print(set1 - set2)  # Difference

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [155]:
# Eliminating Common Elements
# Sets are useful for removing overlapping data between two collections.

# Symmetric difference
set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1 ^ set2)

{1, 4}

In [159]:
# Storing Unique Items
# Use sets when you want to ensure that the collection contains only unique values.

attendees = {"Alice", "Bob", "Charlie"}
attendees.add("sid")
print(attendees)

{'Alice', 'Charlie', 'sid', 'Bob'}

# **7. Describe how to add, modify, and delete items in a dictionary with examples**

Ans - Dictionaries in Python are mutable, which means you can add, modify, or delete key-value pairs.

In [164]:
student = {"name": "Alice", "age": 22}

# Adding a new key-value pair
student["major"] = "Computer Science"
print(student)
# Output: {'name': 'Alice', 'age': 22, 'major': 'Computer Science'}

{'name': 'Alice', 'age': 22, 'major': 'Computer Science'}

In [166]:
#Adding Multiple Items

# Adding multiple items using update()
student.update({"grade": "A", "graduated": False})
print(student)

{'name': 'Alice', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'graduated': False}

In [167]:
#Modifying Items in a Dictionary

# Initial dictionary
student = {"name": "Alice", "age": 22, "major": "Physics"}

# Modifying an existing value
student["major"] = "Mathematics"
print(student)

{'name': 'Alice', 'age': 22, 'major': 'Mathematics'}

In [169]:
#Deleting Items from a Dictionary

student = {"name": "Alice", "age": 22, "major": "Physics"}

del student["major"]  # Deleting a key-value pair
print(student)

{'name': 'Alice', 'age': 22}